.card-column {
  width: 100px;
  vertical-align: text-top;
  /* background: #70bcfa; */
  /* background: #FFD700; */
  box-shadow: 0 4px 6px rgba(2, 2, 2, 0.1);
  border: 8px;
  height: 280px;
  box-shadow: -10px 10px black;
  margin-top: 20px;
  justify-content: space-evenly;
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

  flex: 2px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.card-column {
  width: 60%;

  font-size: x-large;
  box-shadow: -10px 10px black;
  display: grid;
  flex-direction: row;
  height: 80px;
  margin: 20px;
  border: 1px solid #ccc;
}
/* .edit-button {
  background: #f4f6f8;
  border: solid 1px black;
  color: black;
  width: 100px;
  font-weight: lighter;
} */
div.button {
  background-color: #a9bbcf;
  border: solid 2px black;
  padding: 10px 20px;
  border: brown;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
