.newForm {
  font-family: Arial, sans-serif;
}

.card-column {
  width: 800px;

  background: rgb(193, 218, 240);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);     */
  border: 1px solid black;

  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  flex: 6;
  padding: 50px;
  border: 6px solid #ccc;
}

.card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.card p {
  font-size: 14px;
  margin-bottom: 10px;
}
