body{
    background-image: url(https://cdn1.photostockeditor.com/h/1512/person-person-standing-in-front-of-mountain-landscape-photography-nature-nature-image.jpg);
    background-size:auto;
    color:rgb(1, 8, 14);
    font-size: x-large;
    justify-content: center;
    
   
}
.btn btn-primary{
    color: rgb(2, 2, 85);
     margin: auto;
    padding: 0; 
}
card-body{
    justify-content: center;
    

}
