.column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.column h1 {
  grid-column: span 2;
}

.card-column {
  width: 500px;
  background: #fa709f;
  /* background: #FFD700; */
  /* box-shadow: 0 4px 6px rgba(2, 2, 2, 0.1);     */
  border: 8px;
  height: 280px;
  box-shadow: -10px 10px black;
  margin-top: 20px;
  justify-content: space-around;
  color: black;
  display: flex;
  align-items: center;

  overflow-y: auto;

  flex: 2px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 425px;
  max-height: 100px;
}

.card h2,
h3 {
  font-size: x-large;
  margin-bottom: 10px;
}
.card {
  font-size: x-large;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
/* .card button{
         color: black; */
.button {
  background: #007bff;

  color: black;
  width: 20px;
  font-weight: lighter;
}
