.navBar {
  display:flex;
  width: 100vw;
  justify-content: space-between;
  background-color: chocolate;
  
  }
  
  .navBar div {
  display:flex;
  flex-direction:column;
  }
  .navBar img{
    height: 80px;

  }
  