.navBar {
  display:flex;
  width: 100vw;
  justify-content: space-between;
  background-color:rgb(30, 138, 210);
  color: rgb(11, 11, 116);
}
  .navBar div {
  display:flex;
  flex-direction:column;
  }
  .navBar img{
    height: 109px;

  }
  .nav {    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  }