.navBar {
  display:flex;
  width: 100vw;
  justify-content: space-between;
  background-color:rgb(17, 94, 148);
  color: rgba(5, 5, 36, 0.955);
}
  .navBar div {
  display:grid;
  flex-direction: column;
  }
  .navBar img{
    height: 150px;
    width: 300px;

  }
  .nav {    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  }