html {
    height: 100%;
}
body {
    /* background-image: linear-gradient(#A74CF2, #3963D7); */
    background-image: linear-gradient(to bottom right, red, yellow);
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    height: 100%;
}