html {
  height: 100%;
}
body {
  /* background-image: linear-gradient(#A74CF2, #3963D7); */
  background-image: linear-gradient(
    to bottom right,
    rgb(139, 5, 183),
    rgba(0, 225, 255, 0.617)
  );
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
  height: 100%;
}
