.card-row {
  width: 800px;
  /* background: #FFD700; */
  /* box-shadow: 0 4px 6px rgba(2, 2, 2, 0.1);     */
  border: 8px;
  height: 50px;
  box-shadow: -10px 10px black;
  margin-top: 20px;
  justify-content: space-around;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minimax(800px, 3fr));
  grid-gap: 20px;

  /* flex-wrap: wrap; */
  /* margin: 20px; */
  /* 
  flex: 2px; */
  margin-bottom: 20px;
  /* padding: 20px; */
  border: 1px solid #ccc;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px auto;
  width: 75%;
}
div.column-b {
  width: 50%;
  background: #acf5f5f2;
  box-shadow: -10px 10px black;
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 20px;
  border: solid #ccc;
}
div.column-a {
  width: 40%;
  background: #acf5f5f2;
  box-shadow: -10px 10px black;
  display: flex;
  /* gap: 15px; */
  /* grid-template-columns: repeat(3, 1fr); */
  flex-direction: row;
  height: fit-content;
  margin: 20px;
  border: solid #ccc;
}
div.button {
  border: 2px solid #945c86;
  border-radius: 5px;
  width: 15%;
  height: 15%;
  text-align: justify;

  color: #8006a9;
  cursor: pointer;
  font-weight: bold;

  padding: 15px;
}
button:hover {
  border: 2px solid #be7bf1;
  background: #625c94;
}
input.button:hover {
  background-color: grey;
  height: 25%;
  width: 25%;
}
/* .card {
  border: 3px solid #4f7d5d;
  padding: 25px;
  border-radius: 5px;
} */
.hidden {
  text-decoration-color: rgb(67, 66, 66);
  visibility: hidden;
}
/* background-color: #007bff;
  border: solid 1px black;
  color: black;
  width: 60px;
  font-weight: lighter; */

.card {
  font-size: 20px;
  margin-bottom: 10px;
  justify-content: center;
}
.card p {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .round-button:hover {
  background-color: #0056b3;
} */
.card-container {
  border-radius: 5px;
  border-color: thistle;
  border-style: groove;
  width: calc(33.33% -10px);
  margin-bottom: 20px;
  text-align: center;
}
