.card-column
     {    width: 60%;   
         background: #169ca0;     
         box-shadow: -10px 10px black;      
          display: flex;
          height:fit-content;
        
        

       
        margin: 20px;
        border:  solid #ccc;
        
     }
     .button{
     background-color: #007bff;
      border: solid 1px black;
      color:black;
      width: 60px;
      font-weight: lighter;


     }

       

        .card h1,h2
        {    font-size: 20px;   
             margin-bottom: 10px;
            
           }
        .card p {    
           font-size: 14px;    
           margin-bottom: 10px;} 
           
           .round-button{
            background-color:#007bff;
            border-radius: 50%;
            padding:  10px 20px;
            color:aliceblue;
            border: none;
            cursor: pointer;
}
            .round-button:hover{
               background-color: #0056b3;
            }
         